.operator_report_stat_form, .operator_report_member_state_form, .search_soli_att_form, .operator_att_100_member_form, .search_member_stat_update_form, .search_pause_member_form, .operator_att_stat_day_form, .operator_att_member_list_form {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}